---
import { productos } from "../consts/DataProducts.astro"


---
<h2 class="uppercase flex justify-center pt-12">Lorem</h2>

<div
  class="cards grid grid-cols-1 justify-items-center lg:grid-cols-3 gap-y-12 md:grid-cols-2 py-14 xl:grid-cols-4"
>
  {
    productos.map((producto) => (
      <div class="card bg-slate-500 w-[300px] h-[550px] rounded flex flex-col justify-center  justify-items-center">
        <div class="flex justify-center h-[410px] ">
          <img
            class="w-[250px] h-[400px]"
            src={producto.image}
            alt={producto.title}
          />
        </div>
        <img src="" alt=""/>
        <h2 class="text-pretty text-center h-12">{producto.title}</h2>
        <p class="text-center">Precio: ${producto.price}</p>
        <div class="flex justify-center">
          <button
            class="border-double border-4 border-orange-400 w-48 justify-center flex bg-orange-600 rounded carrito"
            data-title={producto.title}
            data-price={producto.price}
          >
            Agregar al Carrito
          </button>
        </div>
      </div>
    ))
  }
</div>

<script>
  
  const btn = document.querySelectorAll("button.carrito");

    btn.forEach((button) => {
    button.addEventListener("click", () => {
      const title = button.getAttribute("data-title");
      const price = button.getAttribute("data-price");
      
      //console.log(title)
      //console.log(price)

    })
  })

  
</script>
